<app-navbar></app-navbar>
<div class="container">
    <table class="table table-striped table-danger">
        <thead class="thead-dark">
          <tr>
            <th scope="col">MovieName</th>
            <th scope="col">NoOfTickets</th>
            <th scope="col">Price</th>
            <th scope="col">Timings</th>
            <th scope="col">Total Paid</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booked of ticketbookings">
              <th scope="row">{{ booked.moviename }}</th>
              <td>{{ booked.noOfTickets }}</td>
              <td>Rs. {{ booked.price }}</td>
              <td> {{ booked.timings }}</td>
              <td>Rs. {{booked.noOfTickets * booked.price}}</td>
            </tr>
            <tr>
              <!-- <th scope="col" colspan="2">Total:</th> -->
            <!---- <th> {{booked.NoOfTickets * booked.price}}</th>-->
            </tr>
          </tbody>
          </table>
         
</div> 
